
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container-fluid d d-flex justify-content-between">
    <div>
      <a class="navbar-brand text-white fs-6 fw-bold" routerLink="/home">YouBooking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div>
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->

<!--      </ul>-->
      <div class="d-flex ">
        <a routerLink="/Signin" class="btn btn-outline-light me-1" type="submit">Sign in</a>
        <a routerLink="/Signup" class="btn btn-outline-light me-1" type="submit">Sign up</a>
      </div>

    </div>
  </div>
</nav>
