<p>card-stats works!</p>

  <div class="bg-primary py-5 pt-md-8">
    <div class="container-fluid">
        <div class="row">

          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="card card-stats mb-4 mb-xl-0 h-100 bg-light">
              <div class="card-body">
                <div class="row">
                  <div class="col ">
                    <h5 class="card-title text-uppercase text-muted mb-0 fs-6">Hotel</h5>
                    <div class="bg-light h-75 d-flex justify-content-start">
                      <span class="mt-5 h2 font-weight-bold mb-0 ">{{nbrHotel}}</span>
                    </div>

                  </div>
                  <div class="col-auto d-flex justify-content-center align-items-center">
                    <div class="icons text-primary ">
                      <i class="fas fa-hotel"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="card card-stats mb-4 mb-xl-0 h-100 bg-light">
              <div class="card-body">
                <div class="row">
                  <div class="col ">
                    <h5 class="card-title text-uppercase text-muted mb-0 fs-6">Chambres Disponible</h5>
                    <div class="bg-light h-75 d-flex justify-content-start">
                      <span class="mt-4 h2 font-weight-bold mb-0 ">{{nbrChambre}}</span>
                    </div>

                  </div>
                  <div class="col-auto d-flex justify-content-center align-items-center">
                    <div class="icons text-primary ">
                      <i class="fas fa-users bg-light"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="card card-stats mb-4 mb-xl-0 h-100 bg-light">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0 fs-6">Chambres Indisponible</h5>
                    <div class="bg-light h-75 d-flex justify-content-start">
                      <span class="mt-4 h2 font-weight-bold mb-0 ">{{nbrChambreIndispo}}</span>
                    </div>

                  </div>
                  <div class="col-auto d-flex justify-content-center align-items-center">
                    <div class="icons text-primary ">
                      <i class="fas fa-users bg-light"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="card card-stats mb-4 mb-xl-0 h-100 bg-light">
              <div class="card-body">
                <div class="row">
                  <div class="col ">
                    <h5 class="card-title text-uppercase text-muted mb-0 fs-6">Utilisateurs</h5>
                    <div class="bg-light h-75 d-flex justify-content-start">
                      <span class="mt-5 h2 font-weight-bold mb-0 ">{{nbrUser}}</span>
                    </div>

                  </div>
                  <div class="col-auto d-flex justify-content-center align-items-center">
                    <div class="icons text-primary ">
                      <i class="fas fa-users bg-light"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>

    </div>
  </div>
  <!-- Page content -->

