<p>detaille-hotel works!</p>

<div class="card col-12 " >
  <div class="card-body">
    <div style="height: 300px" class="row">
    <div class="d-flex justify-content-center align-items-center bg-secondary mb-3">
      <h1>Photo</h1>
    </div>
    </div>
    <div class="row">
      <table>
        <tr>
        <th>Nom :</th>
        <td>{{data.nom}}</td>
          <th>Ville :</th>
          <td>{{data.adresse.ville}} , {{data.adresse.codePostal}}</td>
          <th>Address :</th>
          <td>{{data.adresse.address}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
